@import url('url of font roboto');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}